* {
  margin: 0;
  padding: 0;
}

.maincontainer {
  width: 800px;
  height: 100%;
  margin: 10% auto;
}

.git {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  color: rgb(255, 179, 179);
}

a {
  text-decoration: none;
  color: inherit;
}

ol, li {
  margin: 20px auto;
  list-style: none;
  display: flex;
}

ol > li a, button {
  padding: 8px 16px;
  border: 0px;
  background: whitesmoke;
  color: blue;
  text-align: center;
  border: 1px solid #ddd;
}

.previous {
  width: 18%;
  color: #aaa;
}

.next {
  width: 10%;
  color: #aaa;

}

ol > li a:hover {
  background: rgb(140, 167, 236);
  color: #fff;
}

.previous:hover,.next:hover {
  background: rgb(108, 134, 198);
  color: rgb(255, 255, 255);
}

.previous:active,.next:active {
  background: rgb(80, 117, 212);
  color: rgb(255, 255, 255);
}

button {
  background: #ccc;
  color: #000;
}