* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  height: 100vh;
}

.maincontainer {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(6,1fr);
  height: 100%;
}

.content {
  background: #ccc;
}

.nav {
  grid-row: 1/2;
  grid-column: 1/7;
}

 .content-wraper {
  grid-row: 2/3;
  grid-column: 1/7;
  display: grid;
  grid-template-rows: repeat(1,minmax(100px,auto));
  grid-template-columns: repeat(6,minmax(100px,auto));
}

.wrap-left {
  grid-row: 1/2;
  grid-column: 1/7;
  display: grid;
  grid-template-rows: repeat(4,minmax(100px,auto));
  grid-template-columns: repeat(6,minmax(100px,auto));
  gap: 10px;
}

.c { 
  grid-row: 1/2;
  grid-column: 1/7;
}

.d {
  grid-row: 2/6;
  grid-column: 1/5;
}

.e {
  grid-row: 2/6;
  grid-column: 5/6;
}

.footer {
  grid-row: 3/4;
  grid-column: 1/7;
}

.wrap-right {
  grid-row: 1/2;
  grid-column: 6/7;
  display: grid;
  grid-template-rows: repeat(2,minmax(100px,auto));
  grid-template-columns: 1fr;
  gap: 10px;
}

.a {
  grid-row: 1/2;
  grid-column: 1/2;
}

.b {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media screen and (max-width : 767px) {
 .content-wraper {
  grid-template-rows: repeat(2,minmax(100px,auto));
  grid-template-columns: 1fr;
}

.wrap-right {
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows:1fr;
    grid-template-columns: repeat(2,minmax(100px,auto));
  }

  .wrap-left {
    grid-row: 2/3;
    grid-column: 1/2;
    
  }
  
  .a {
    grid-row: 1/2;
    grid-column: 1/2  ;
  }
  
  .b {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}